---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";

import imageChia from "/public/portafolio/residencial/chia/1.avif";
import imageModigliani from "/public/portafolio/residencial/modigliani/1.avif";
import imageSausalito from "/public/portafolio/residencial/sausalito/1.avif";
import imageSubachoque from "/public/portafolio/residencial/subachoque/1.avif";

import imageAndalucia from "/public/portafolio/comercial/andalucia/1.avif";
import imageArrayan from "/public/portafolio/comercial/arrayan/1.avif";
import imageBalcony from "/public/portafolio/comercial/balcony/1.avif";
import imageCardio from "/public/portafolio/comercial/cardiovascular/1.avif";
import cumbrera from "/public/portafolio/comercial/cumbrera/1.avif";
import multiplaza from "/public/portafolio/comercial/mutiplaza/1.avif";
import naviera from "/public/portafolio/comercial/naviera/1.avif";
import sakai from "/public/portafolio/comercial/sakai/1.avif";
import vitrum from "/public/portafolio/comercial/vitrum/1.avif";

export function getStaticPaths() {
  return [
    //RESIDENCIAL
    {
      params: { proyecto: "casas-chia" },
      props: {
        mainImage: imageChia.src,
        titulo: "CASAS DE CHÍA",
      },
    },
    {
      params: { proyecto: "modigliani" },
      props: {
        mainImage: imageModigliani.src,
        titulo: "MODIGLIANI",
      },
    },
    {
      params: { proyecto: "sausalito" },
      props: {
        mainImage: imageSausalito.src,
        titulo: "SAUSALITO",
      },
    },
    {
      params: { proyecto: "subachoque" },
      props: {
        mainImage: imageSubachoque.src,
        titulo: "SUBACHOQUE",
      },
    },
    //COMERCIAL
    {
      params: { proyecto: "balcony" },
      props: {
        mainImage: imageBalcony.src,
        titulo: "PROYECTO RESIDENCIAL BALCONY",
      },
    },
    {
      params: { proyecto: "bosque-de-arrayan" },
      props: {
        mainImage: imageArrayan.src,
        titulo: "BOSQUES DE ARRAYAN",
      },
    },
    {
      params: { proyecto: "multiplaza" },
      props: {
        mainImage: multiplaza.src,
        titulo: "CARPIMADERAS LTDA. C.C. MULTIPLAZA",
      },
    },
    {
      params: { proyecto: "cumbrera" },
      props: {
        mainImage: cumbrera.src,
        titulo: "PROYECTO CUMBRERA COLPATRIA CONSTRUCTORA LAS GALIAS",
      },
    },
    {
      params: { proyecto: "hospital-cardiovascular" },
      props: {
        mainImage: imageCardio.src,
        titulo: "HOSPITAL CARDIOVASCULAR",
      },
    },
    {
      params: { proyecto: "naviera" },
      props: {
        mainImage: naviera.src,
        titulo: "OFICINAS NAVIERA",
      },
    },
    {
      params: { proyecto: "andalucia" },
      props: {
        mainImage: imageAndalucia.src,
        titulo: "PROYECTO PROMOTORA ANDALUCÍA",
      },
    },
    {
      params: { proyecto: "sakai" },
      props: {
        mainImage: sakai.src,
        titulo: "PROYECTO SAKAI CONTRUCTORA KYOTO",
      },
    },
    {
      params: { proyecto: "vitrum" },
      props: {
        mainImage: vitrum.src,
        titulo: "VITRUM",
      },
    },
  ];
}

const { proyecto } = Astro.params;
const { mainImage, titulo } = Astro.props;
---

<Layout title={proyecto}>
  <div class="main-container">
    <div class="presentation-container section">
      <div class="content">
        <div class="head-content">
          <h3 class="title">{titulo}</h3>
          <p class="location">Balmoral Norte Av. NQS 14 - Bogotá DC.</p>
        </div>
        <div class="description">
          <p class="detail">
            Elegancia, confort y un estilo clásico es lo que caracteriza a este
            excelente proyecto con acabados en madera que resaltan su estética
            única y memorable.
          </p>
          <p class="designed-by-label">Diseñado por: Allan Dops</p>
        </div>
      </div>

      <div class="img-container">
        <div class="img">
          <img src={mainImage} alt="" />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  body {
    width: 100%;
    display: block;
  }
  .main-container {
    width: 100%;
  }
  .section {
    width: 100%;
    height: 95vh;
  }
  .presentation-container {
    display: flex;
  }
  .content {
    position: relative;
    width: 50%;
  }
  .head-content {
    position: absolute;
    right: 0px;
    width: 90%;
  }
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 60px;
    width: 80%;
  }
  .location {
    font-size: 22px;
  }

  .description {
    position: absolute;
    width: 60%;
    height: 40%;
    right: 0px;
    bottom: 10%;
  }
  .detail {
    font-size: 25px;
  }
  .designed-by-label {
    font-size: 22px;
    position: absolute;
    bottom: 0px;
  }
  .img-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .img {
    width: 90%;
    height: 100%;
  }
  .img-container img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
</style>
