---
import Layout from "../layouts/Layout.astro";
import Image1 from "/public/contacto/1.jpg";
---

<Layout title="Contacto">
  <main-section>
    <div class="previous-container">
      <a href="/">&#60; Regresar</a>
    </div>
    <div class="form-container section">
      <form id="contact-form">
        <h3>CONTACTO</h3>
        <input type="text" id="name" class="form-input" placeholder="Ingresa tu nombre" required />
        <input type="email" id="email" class="form-input" placeholder="Ingresa tu email" required />
        <textarea id="message" class="form-text-area" placeholder="En que podemos ayudarte?" required></textarea>
        <div class="form-btn" id="btn-contact">
          <p>ENVIAR</p>
        </div>
      </form>
    </div>
    <div class="img-section section">
      <img src={Image1.src} alt="" loading="lazy" />
    </div>
  </main-section>
</Layout>

<script>
  let btnContact = document.getElementById('btn-contact');
    btnContact?.addEventListener('click', async (event) => {
    event.preventDefault();
    
    const nameValue = document.getElementById('name')?.innerHTML;
    const emailValue = document.getElementById('email')?.innerHTML;
    const messageValue = document.getElementById('message')?.innerHTML;

    const payload = {
      Subject: nameValue,
      Body: messageValue
    };

    try {
      const response = await fetch('https://go-smtp-oib7n3uod-icolmuebles.vercel.app/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      });

      if (response.ok) {
        alert('Correo enviado exitosamente');
      } else {
        alert('Error al enviar el correo');
      }
    } catch (error) {
      console.error('Error:', error);
      alert('Error al enviar el correo');
    }
  });
</script>

<style>
  body {
    width: 100%;
    display: block;
  }
  main-section {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .previous-container {
    position: absolute;
    top: 2%;
    left: 1%;
    height: fit-content;
    width: fit-content;
  }
  .previous-container a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--black-own);
  }
  .previous-container a:hover {
    color: var(--yellow-own);
    transition: 0.6s;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
  }
  .form-container form {
    display: flex;
    width: 80%;
    flex-direction: column;
  }
  .form-container h3 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
  }
  .form-input {
    height: 48px;
    width: 95%;
    border: none;
    background: #e9e9e9;
    padding-left: 20px;
    margin: 20px 0px;
  }
  .form-input::placeholder {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  .form-text-area {
    border: none;
    width: 95%;
    height: 150px;
    background: #e9e9e9;
    padding-left: 20px;
    padding-top: 20px;
    margin: 20px 0px;
  }
  .form-text-area::placeholder {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-own);
    width: 95%;
    height: 50px;
    background: var(--black-own);
    cursor: pointer;
  }
  .form-btn p {
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
  }
  .img-section {
    width: 65%;
  }
  .img-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 850px) {
    main-section {
      flex-wrap: wrap;
    }
    .section {
      width: 100%;
      height: 100%;
    }
    .form-container {
      height: 80%;
    }
    .img-section {
      height: 20%;
    }
    .previous-container {
      left: 4%;
    }
  }
</style>
