---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto">
	<main-section>
		<div class="form-container">
			<form action="">
				<h3>CONTACTO</h3>
				<input type="text" class="form-input" placeholder="Ingresa tu nombre">
				<input type="email" class="form-input" placeholder="Ingresa tu nombre">
				<textarea name="" id="" class="form-text-area" placeholder="En que podemos ayudarte?"></textarea>
				<div class="form-btn">
					<p>ENVIAR</p>
				</div>
			</form>
		</div>
		<div class="img-section">
			<img src="/home/carousel/6.jpg" alt="">
		</div>
	</main-section>
</Layout>

<style>
	main-section {
		display: flex;
		width: 100%;
		height: 100vh;
	}
	.form-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35%;
	}
	.form-container form {
		display: flex;
		flex-direction: column;
	}
	.form-container h3 {
		font-size: 40px;
		font-family: 'Montserrat', sans-serif;
	}
	.form-input {
		height: 48px;
		width: 450px;
		border: none;
		background: #E9E9E9;
		padding-left: 20px;
		margin: 20px 0px;
	}
	.form-input::placeholder {
		font-family: 'Quicksand', sans-serif;
		font-weight: 500;
		font-size: 16px;
	}
	.form-text-area {
		border: none;
		width: 450px;
		height: 150px;
		background: #E9E9E9;
		padding-left: 20px;
		padding-top: 20px;
		margin: 20px 0px;
	}
	.form-text-area::placeholder {
		font-family: 'Quicksand', sans-serif;
		font-weight: 500;
		font-size: 16px;
	}
	.form-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--white-own);
		width: 470px;
		height: 50px;
		background: var(--black-own);
	}
	.form-btn p {
		font-weight: 600;
		font-size: 20px;
		margin: 0px;
	}
	.img-section {
		width: 65%;
	}
	.img-section img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
</style>
