---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

import Layout from "../layouts/Layout.astro";
import Carousel from "../components/home/Carousel.astro";
import HomeCard from "../components/home/HomeCard.astro";
import MiddleSection from "../components/home/MiddleSection.astro";

import Image1 from "/public/home/section/1.avif";
import Image2 from "/public/home/section/2.avif";

const contentMap = {
  card1: {
    title: "COMERCIAL",
    text: "QUEREMOS QUE NUESTROS CLIENTES HABLEN POR NUESTRO TRABAJO",
    btnText: "VER PROYECTOS",
  },
  card2: {
    title: "RESIDENCIAL",
    text: "AMUEBLA TUS ESPACIOS CON LOS MEJORES DISEÑOS Y LOS MEJORES MATERIALES",
    btnText: "CONOCER MÁS",
  },
  middle: {
    title: "Nuestros Proyectos",
    text: "Puedes encontrar la mejor muebleria del mercado para tu proyecto residencial como para tu apartamento",
    subText: "Empecemos!",
  },
};
---

<Layout title="Home">
  <div id="animation-desk-container">
    <LottieAnimation
      src="/animations/enter-animation.json"
      id="animation-desk"
      loop={false}
      player="light"
    />
  </div>

  <div id="animation-mobile-container">
    <LottieAnimation
      src="/animations/enter-animation-mobile.json"
      id="animation-mobile"
      loop={false}
      player="light"
    />
  </div>

  <section><Carousel /></section>

  <section class="section">
    <div class="first-section">
      <div class="info-section">
        <div class="title">
          <h3>Somos experiencia, <br /><span>somos calidad.</span></h3>
        </div>
        <div class="text">
          <p>
            Creamos soluciones empresariales y residenciales con la mejor
            calidad, con el mejor servicio y con la mejor eficiencia. Conoce
            nuestros asombrosos proyectos residenciales, descubre los magníficos
            proyectos comerciales en los que hemos trabajado!
          </p>
        </div>
      </div>
      <div class="btn-section">
        <button>Ver proyectos</button>
      </div>
      <div class="arrow-section">
        <img src="/home/arrow.png" alt="" class="arrow" />
      </div>
    </div>
    <div class="second-section"></div>
  </section>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const animationDesk = document.getElementById("animation-desk-container");
    if (animationDesk !== null) {
      setTimeout(() => {
        animationDesk.style.background = "transparent";
      }, 1000);
      setTimeout(() => {
        animationDesk.style.opacity = "0";
        animationDesk.style.transition = "opacity 1s ease-out";
      }, 3500);
      setTimeout(() => {
        animationDesk.style.display = "none";
      }, 4500);
    }

    if (window.innerWidth <= 850) {
      if (animationDesk !== null) {
        animationDesk.style.display = "none";
      }
      const animationMobile = document.getElementById(
        "animation-mobile-container"
      );
      if (animationMobile !== null) {
        animationMobile.style.display = "block";
        setTimeout(() => {
          animationMobile.style.background = "transparent";
        }, 1000);
        setTimeout(() => {
          animationMobile.style.opacity = "0";
          animationMobile.style.transition = "opacity 1s ease-out";
        }, 1800);
        setTimeout(() => {
          animationMobile.style.display = "none";
        }, 2300);
      }
    }
  });
</script>

<style>
  body {
    width: 100%;
    height: 100vh;
    display: block;
  }

  #animation-desk-container {
    position: absolute;
    background-color: var(--white-own);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
  }

  #animation-mobile-container {
    display: none;
    position: absolute;
    background-color: var(--white-own);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80vh;
    z-index: 9999;
  }

  section {
    display: flex;
    height: 100vh;
  }

  .section {
    height: 100vh;
    width: 100%;
  }

  .first-section {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    padding: 40px 60px;
  }

  .info-section {
    width: 60%;
    height: fit-content;
  }

  .title h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    margin-top: 50px;
  }

  .title h3 span {
    color: var(--yellow-own);
  }

  .first-section .text {
    margin-top: 60px;
    font-size: 25px;
  }

  .btn-section {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 40%;
  }

  .btn-section button {
    border: none;
    background-color: transparent;
    border: 3px solid #6a6a6a;
    padding: 10px 60px;
    color: #6a6a6a;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 25px;
    box-shadow: 0px 3px 6px #00000029;
    text-shadow: 0px 3px 6px #00000029;
  }

  .btn-section button:hover {
    border: 3px solid var(--yellow-own);
    background-color: var(--yellow-own);
    color: var(--white-own);
    transition: 0.8s;
    cursor: pointer;
  }

  .arrow-section {
    position: relative;
    display: flex;
    align-items: start;
    height: 50%;
    width: 100%;
  }

  .arrow {
    position: absolute;
    top: 40px;
    left: 45%;
  }

  @media screen and (max-width: 1450px) {
    .arrow {
      left: 35%;
    }
  }

  @media screen and (max-width: 1050px) {
    .arrow {
      left: 20%;
    }
  }

  @media screen and (max-width: 850px) {
    #intro-video {
      position: fixed;
      right: 0;
      bottom: 0;
      height: 100vh;
      z-index: 9999;
    }
  }
</style>
