---
import Planta from "../components/nosotros/planta.astro";
import Layout from "../layouts/Layout.astro";
import Image1 from "/public/nosotros/1.jpeg";
import Image2 from "/public/nosotros/2.jpeg";
---

<Layout title="Nosotros">
  <main-container>
    <section class="nosotros-section">
      <div class="image-container">
        <div class="image image-nosotros">
          <img src={Image1.src} alt="" loading="lazy" />
        </div>
      </div>
      <div class="title">
        <p>
          S<br />O<br />B<br />R<br />E<br />N<br />O<br />S<br />O<br />T<br
          />R<br />O<br />S
        </p>
      </div>
      <div class="text-container">
        <div class="text">
          <p>
            Industria colombiana de muebles se encuentra en el ramo de la
            carpintería arquitectónica brindado soluciones al sector de la
            construcción en acabados de madera, icolmuebles nace de la necesidad
            del constructor por un contratista cumplido y responsable que pueda
            desarrollar sus proyectos. de la mano de nuestro padre que nos dejo
            el legado de saber fabricar y como llegar a cualquier lugar con
            nuestra carpintería, decidimos crear una oferta de valor que hasta
            el día de hoy nos mantiene vigentes en los proyectos de los
            colombianos, estando presentes en proyectos en barranquilla, Ibagué,
            Cali, Cundinamarca y por supuesto en la ciudad de Bogotá que es la
            matriz de icolmuebles sas, nuestra propuesta de valor es simple pero
            contundente dando al mercado un acabado de carpintería con una
            calidad excelente respaldada por nuestro personal calificado y
            nuestra maquinaria de punta a un precio accesible que se adapte a
            las necesidades actuales, acompáñenos en esta aventura para poder
            ser parte de su familia estando presente en su hogar por mucho
            tiempo.
          </p>
        </div>
      </div>
    </section>

    <section class="director-section">
      <div class="title title-director">
        <p>
          N<br />U<br />E<br />S<br />T<br />R<br />O<br /><br />D<br />I<br
          />R<br />E<br />C<br />T<br />O<br />R
        </p>
      </div>
      <div class="image-container">
        <div class="image image-director">
          <img src={Image2.src} alt="" loading="lazy" />
        </div>
      </div>
      <div class="text-container">
        <div class="text">
          <p>
            Mi nombre es Harold cantor bello soy administrador de empresas,
            gerente y representante legal de industria colombiana de muebles
            icolmuebles sas, recibo el cargo delegado de mi padre que
            lamentablemente nos dejo por culpa del COVID en el año 2021, de el
            no solo delegue el puesto si no el espíritu emprendedor, de esta
            fecha hasta la actualidad hemos tratado de construir sobre lo
            construido enfocando la empresa en necesidades actuales del mercado
            y posicionándola como referente en carpintería, llevando nuestro
            acabado a varias ciudades del país fabricando en el año 2023 hasta
            la fecha mas de 4.500 puertas junto con las demás líneas de negocio
            como cocinas muebles de baño closets todo hecho a medida sobre
            planos enviados por el constructor, este año queremos apostar por
            fabricar la carpintería de los proyectos vis y ser parte de la
            familia de muchos colombianos, brindando la misma responsabilidad
            entrega y experiencia que nos caracteriza.
          </p>
        </div>
      </div>
    </section>
    <section>
      <Planta />
    </section>
  </main-container>
</Layout>

<style>
  body {
    width: 100%;
    display: block;
  }
  main-container {
    margin-top: 80px;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    padding-top: 50px;
    margin: 20px 0px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .image-nosotros {
    width: 850px;
    height: 570px;
  }
  .image-director {
    width: 450px;
    height: 580px;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: fit-content;
    width: 30%;
  }
  .title-director {
    width: 15%;
  }
  .text-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 100%;
  }
  .text {
    text-align: center;
    width: 50%;
  }
  @media screen and (max-width: 850px) {
    .image-container {
      width: 100%;
      height: 60%;
    }
    .image-nosotros {
      height: 100%;
    }
    .image-director {
      height: 100%;
      width: 100%;
    }
    .nosotros-section {
      padding-top: 10px;
    }
    .nosotros-section img {
      object-position: left;
    }
    .text-container {
      display: flex;
      height: 30%;
    }
    .text {
      width: 100%;
      padding: 0px 20px;
    }
    .title {
      position: absolute;
      width: fit-content;
      height: 60%;
      padding: 0px 15px;
      right: 0px;
      background-color: #fff;
      font-size: 20px;
    }
    .title-director {
      left: 0px;
    }
  }
</style>
