---
import Layout from "../layouts/Layout.astro";
import ProyectSection from "../components/proyectos/ProyectSection.astro";

import imgResidencial1 from "/public/proyectos/residencial/1.avif";
import imgResidencial2 from "/public/proyectos/residencial/2.avif";
import imgResidencial3 from "/public/proyectos/residencial/3.avif";

import imgComercial1 from "/public/proyectos/comercial/1.jpg";
import imgComercial2 from "/public/proyectos/comercial/2.jpg";
import imgComercial3 from "/public/proyectos/comercial/3.jpg";

const ResidencialData = [
  {
    imageCard: imgResidencial1.src,
    title: "Sala Warm In Wood",
    text: "Residencial",
  },
  {
    imageCard: imgResidencial3.src,
    title: "Sala Warm In Wood",
    text: "Residencial",
  },
  {
    imageCard: imgResidencial2.src,
    title: "Sala Warm In Wood",
    text: "Residencial",
  },
];

const CommercialData = [
  {
    imageCard: imgComercial1.src,
    title: "Sala Warm In Wood",
    text: "Commercial",
  },
  {
    imageCard: imgComercial2.src,
    title: "Sala Warm In Wood",
    text: "Commercial",
  },
  {
    imageCard: imgComercial3.src,
    title: "Sala Warm In Wood",
    text: "Commercial",
  },
];
---

<Layout title="Proyectos">
  <main-container>
    <div class="selection-menu">
      <div id="opt-1" class="option residencial-opt active">
        <p>RESIDENCIAL</p>
      </div>
      <div id="opt-2" class="option commercial-opt">
        <p>COMERCIAL</p>
      </div>
    </div>

    <div id="section1" class="section section-residencial">
      <div class="visual-residencial-container">
        <video src="/render.mp4" autoplay loop muted class="visual-residencial"
        ></video>
      </div>
      <ProyectSection data={ResidencialData} />
    </div>
    <div id="section2" class="section" style="display: none;">
      <ProyectSection data={CommercialData} />
    </div>
  </main-container>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    function showSection(sectionNumber: number) {
      ["section1", "section2"].forEach((sectionId, index) => {
        let section = document.getElementById(sectionId);
        if (section != null) {
          section.style.display = sectionNumber === index + 1 ? "flex" : "none";
        }
      });
    }

    ["opt-1", "opt-2"].forEach((optionId, index) => {
      let option = document.getElementById(optionId);
      if (option != null) {
        option.addEventListener("click", function () {
          showSection(index + 1);
          var activeElement = document.querySelector(".active");
          if (activeElement != null) {
            console.log(activeElement);
            activeElement.classList.remove("active");
          }
          option.classList.add("active");
        });
      }
    });
  });
</script>

<style>
  body {
    width: 100%;
    display: block;
  }
  main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .selection-menu {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }
  .option {
    height: fit-content;
    padding: 6px 20px;
  }

  .option:hover {
    color: var(--yellow-own);
    cursor: pointer;
    transition: 0.4s;
  }

  .option p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
  }

  .active {
    transition: 1s linear;
    border-bottom: 4px solid var(--yellow-own);
  }

  .section {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .section-residencial {
    display: flex;
    flex-wrap: wrap;
  }

  .visual-residencial-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 0px 50px;
  }

  .visual-residencial {
    width: 100%;
  }
</style>
