---
import Layout from "../layouts/Layout.astro";
import ProyectSection from "../components/proyectos/ProyectSection.astro";
import ResidencialCardProjects from "../components/proyectos/ResidencialCardProjects.astro";
import ComercialCardProjects from "../components/proyectos/ComercialCardProjects.astro";

const ResidencialData = [
  {
    imageCard: "/proyectos/residencial/1.avif",
    title: "Closet",
    text: "Fabricado en aglomerado Rh calibre 15mm, incluye 4 cajones incluye 4 cajones y dos zapateros extraíbles, fachada completa compuesta por tres puertas de corredera con sistema certificado Ducasse para apertura, sistema de correderas para cajones de tráfico pesado, cazuela metálica para apertura de puertas, el precio incluye transporte suministro e instalación.",
    notes: [""],
    cost: "Valor antes de iva: $2.700.000",
    additionalImg: [
      "/proyectos/residencial/1.1.avif",
      "/proyectos/residencial/1.2.avif",
      "/proyectos/residencial/1.3.avif",
      "/proyectos/residencial/1.4.avif",
      "/proyectos/residencial/1.5.avif",
    ],
  },
  {
    imageCard: "/proyectos/residencial/2.avif",
    title: "Cocina",
    text: "Fabricado en aglomerado Rh calibre 15mm, incluye 3 cajones, fachada fabricada en aglomerado calibre15mm con bisagras cierre lento, sistema de correderas para cajones de tráfico pesado, manija para apertura tipo L en madera, puertas y frentes de cajones enchapados en canto rígido el precio incluye transporte suministro e instalación.",
    notes: [
      "Nota: Este precio no incluye mármol, costado piso a techo nevera ni mueble superior de nevera. Puede escoger entre mármol y granito.",
      " - Granito valor: 1.200.000 precio antes de iva solo mesón no incluye poceta ni griferia.",
      " - Mármol valor: 1.800.000 precio antes de iva solo mesón no incluye poceta ni griferia ",
    ],
    cost: "Valor antes de iva: $2.700.000",
    additionalImg: [
      "/proyectos/residencial/2.1.avif",
      "/proyectos/residencial/2.2.avif",
    ],
  },
  {
    imageCard: "/proyectos/residencial/3.avif",
    title: "Mueble Laundry",
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque arcu vel maximus dapibus. Aliquam sagittis orci vel tristique accumsan.",
    notes: [""],
    cost: "Valor antes de iva: $2.700.000",
    additionalImg: ["/proyectos/residencial/3.1.avif"],
  },
  {
    imageCard: "/proyectos/residencial/5.avif",
    title: "Mueble estudio flotante con cajones",
    text: "Fabricado en aglomerado Rh calibre 15mm, cantos de cajones enchapados en canto rígido, incluye tres cajones con sistema de apertura push open el precio incluye transporte suministro e instalación.",
    notes: [""],
    cost: "Valor antes de iva: $1.600.000",
    additionalImg: ["/proyectos/residencial/5.1.avif"],
  },
  {
    imageCard: "/proyectos/residencial/4.avif",
    title: "Mueble de baño",
    text: "Fabricado en aglomerado Rh calibre 15mm, cantos de puerta enchapados en canto rígido, sistema de apertura con bisagra cierre lento el precio incluye transporte suministro e instalación. Valor antes de iva: 350.000 no incluye lavamanos.",
    notes: [
      "Nota: No incluye lavamanos.",
      "Nota: Entrepaños superiores baño: fabricados en aglomerado RH Reengruesado a 3cm, incluye fondo en aglomerado rh 5,5mm soporte a pared con soporte oculto. Valor antes de iva: 295.000",
    ],
    cost: "Valor antes de iva: $350.000",
    additionalImg: ["/proyectos/residencial/4.1.avif"],
  },
];
---

<Layout title="Proyectos">
  <main-container>
    <div class="selection-menu-container">
      <div class="selection-menu">
        <div id="opt-1" class="option residencial-opt active">
          <p>RESIDENCIAL</p>
        </div>
        <div id="opt-2" class="option commercial-opt">
          <p>COMERCIAL</p>
        </div>
      </div>
    </div>

    <div id="section1" class="section section-residencial">
      <div class="visual-residencial-container">
        <video src="/render.mp4" autoplay loop muted class="visual-residencial"
        ></video>
      </div>
      <ProyectSection data={ResidencialData} />
      <h3 class="title">PROYECTOS MODELO</h3>
      <div class="projects-section">
        <ResidencialCardProjects />
      </div>
    </div>
    <div id="section2" class="section" style="display: none;">
      <ComercialCardProjects />
    </div>
  </main-container>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    function showSection(sectionNumber: number) {
      ["section1", "section2"].forEach((sectionId, index) => {
        let section = document.getElementById(sectionId);
        if (section != null) {
          section.style.display = sectionNumber === index + 1 ? "flex" : "none";
        }
      });
    }

    ["opt-1", "opt-2"].forEach((optionId, index) => {
      let option = document.getElementById(optionId);
      if (option != null) {
        option.addEventListener("click", function () {
          showSection(index + 1);
          var activeElement = document.querySelector(".active");
          if (activeElement != null) {
            activeElement.classList.remove("active");
          }
          option.classList.add("active");
        });
      }
    });
  });
</script>

<style>
  body {
    width: 100%;
    display: block;
  }
  main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px;
    width: 100%;
  }
  .selection-menu-container {
    width: 100%;
  }
  .selection-menu {
    position: relative;
    left: 30%;
    width: fit-content;
    display: flex;
    justify-content: space-around;
  }
  .option {
    height: fit-content;
    padding: 6px 20px;
  }

  .option:hover {
    color: var(--yellow-own);
    cursor: pointer;
    transition: 0.4s;
  }

  .option p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
  }

  .active {
    transition: 1s linear;
    border-bottom: 4px solid var(--yellow-own);
  }

  .section {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .section-residencial {
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
  }

  .visual-residencial-container {
    display: flex;
    width: 90%;
    margin-top: 20px;
  }

  .visual-residencial {
    width: 100%;
  }

  @media screen and (max-width: 850px) {
    .selection-menu {
      left: 10px;
    }
  }
</style>
