---
import CarouselElement from "./CarouselElement.astro";

import image1 from "../../assets/home/carousel/1.avif";
import image2 from "../../assets/home/carousel/2.avif";
import image3 from "../../assets/home/carousel/3.avif";
import image4 from "../../assets/home/carousel/4.avif";
import image5 from "../../assets/home/carousel/5.avif";

const images = [image1, image2, image3, image4, image5];
---

<div class="carousel-container" id="carousel">
  {
    images.map((image, index) => (
      <>
        <CarouselElement imgName={image.src} />
        {index === 2 && (
          <div class="titular-container">
            <p class="carousel-titular">
              B<br />A<br />J<br />A<br />
              <br />P<br />A<br />R<br />A<br />
              <br />D<br />E<br />S<br />C<br />U<br />B<br />R<br />I<br />R
              <br />
              <br />M<br />Á<br />S
            </p>
          </div>
        )}
      </>
    ))
  }
</div>

<client:only>
  <script>
    const carousel = document.getElementById("carousel");
    let isDown = false;
    let startX: number = 0;
    let scrollLeft: number = 0;
    if (carousel != null) {
      carousel.addEventListener("mousedown", (e: MouseEvent) => {
        isDown = true;
        startX = e.pageX - carousel.offsetLeft;
        scrollLeft = carousel.scrollLeft;
      });

      carousel.addEventListener("mouseleave", () => {
        isDown = false;
      });

      carousel.addEventListener("mouseup", () => {
        isDown = false;
      });

      carousel.addEventListener("mousemove", (e: MouseEvent) => {
        if (isDown == true) {
          e.preventDefault();
          const x = e.pageX - carousel.offsetLeft;
          const walk = (x - startX) * 1;
          carousel.scrollLeft = scrollLeft - walk;
        }
      });
    }
  </script>
</client:only>

<style>
  .carousel-container {
    display: flex;
    height: 100vh;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
  }
  .titular-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
  }
  .carousel-titular {
    font-size: 20px;
    font-weight: 500;
  }
  @media screen and (max-width: 850px) {
    .carousel-container {
      flex-wrap: wrap;
    }
    .titular-container {
      position: absolute;
      right: 0px;
      bottom: 0px;
      display: flex;
      justify-content: center;
      width: 60px;
      height: 70%;
      margin-right: 0px;
      padding: 10px 0;
      background-color: #fff;
    }
    .carousel-titular {
      font-size: 18px;
    }
  }
</style>
