---
import CarouselElement from "./CarouselElement.astro";

export interface Props {
  heightSize: number;
  widthSize: number;
  images: string[];
}

const { heightSize, widthSize, images } = Astro.props;
---

<div
  class="carousel-container"
  id="carousel"
  style={`height: ${heightSize}vh; width: ${widthSize}%;`}
>
  {
    images.map((image, index) => (
      <>
        <CarouselElement imgName={image} />
        {index === 2 && (
          <div class="titular-container">
            <p class="carousel-titular">
              B<br />A<br />J<br />A<br />
              <br />P<br />A<br />R<br />A<br />
              <br />D<br />E<br />S<br />C<br />U<br />B<br />R<br />I<br />R
              <br />
              <br />M<br />Á<br />S
            </p>
          </div>
        )}
      </>
    ))
  }
</div>
<script>
  const carousel = document.getElementById("carousel");
  let isDown = false;
  let startX: number = 0;
  let scrollLeft: number = 0;
  if (carousel != null) {
    carousel.addEventListener("mousedown", (e: MouseEvent) => {
      isDown = true;
      startX = e.pageX - carousel.offsetLeft;
      scrollLeft = carousel.scrollLeft;
    });

    carousel.addEventListener("mouseleave", () => {
      isDown = false;
    });

    carousel.addEventListener("mouseup", () => {
      isDown = false;
    });

    carousel.addEventListener("mousemove", (e: MouseEvent) => {
      if (isDown == true) {
        e.preventDefault();
        const x = e.pageX - carousel.offsetLeft;
        const walk = (x - startX) * 1;
        carousel.scrollLeft = scrollLeft - walk;
      }
    });
  }

  document.addEventListener("astro:page-load", () => {
    const text = document.querySelector(".carousel-titular");
    if (text !== null) {
      const currentURL = window.location.href;
      if (currentURL.includes("nosotros")) {
        text.classList.add("hidden");
      }
    }
  });
</script>

<style>
  .carousel-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
    /* Estilos para Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.7) transparent;
  }

  /* Estilos para Chrome, Safari y otros navegadores basados en Webkit */
  .carousel-container::-webkit-scrollbar {
    height: 10px;
    background: transparent; /* Color del track */
  }

  .carousel-container::-webkit-scrollbar-thumb {
    background-color: rgba(
      0,
      0,
      0,
      0.7
    ); /* Color de la barra de desplazamiento */
    border-radius: 20px; /* Radio de la esquina de la barra de desplazamiento */
    border: 3px solid transparent; /* Borde de la barra de desplazamiento */
  }

  .carousel-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(
      100,
      100,
      100,
      0.7
    ); /* Cambia el color de la barra de desplazamiento al pasar el mouse */
  }
  .titular-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
  }
  .carousel-titular {
    font-size: 20px;
    font-weight: 500;
  }
  .hidden {
    display: none;
  }
  @media screen and (max-width: 850px) {
    .carousel-container {
      flex-wrap: wrap;
    }
    .titular-container {
      position: absolute;
      right: 0px;
      bottom: 0px;
      display: flex;
      justify-content: center;
      width: 60px;
      height: 70%;
      margin-right: 0px;
      padding: 10px 0;
      background-color: #fff;
    }
    .carousel-titular {
      font-size: 18px;
    }
  }
</style>
