---
import { Image } from "astro:assets";

export interface Props {
  imgUrl: string;
}

const { imgUrl } = Astro.props;
---

<div class="card-container">
  <Image src={imgUrl} alt="a" width={500} height={400} />
</div>

<style>
  .card-container {
    width: 90%;
    opacity: 2;
  }
  .card-container img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }
</style>
