<div class="second-section">
  <div class="title">
    <h3>Conoce a nuestros aliados!</h3>
    <div class="text">
      <p>
        Durante estos casi 20 años de experiencia hemos trabajado para
        excelentes empresas queremos que nuestra experiencia, trabajo y
        dedicación hablen por nosotros.
      </p>
    </div>
    <div class="logos-section">
      <div class="item">
        <img src="/home/logos/logo-andalucia.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-clinica-mujer.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-colpatria.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-cumbrera.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-galias.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-hospital-cardioinfantil.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-hospital-infantil.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-oikos.png" alt="" />
      </div>
      <div class="item">
        <img src="/home/logos/logo-vivendum.png" alt="" />
      </div>
    </div>
  </div>
</div>

<style>
  .second-section {
    width: 100%;
    height: 40vh;
    background-color: var(--yellow-own);
    color: var(--white-own);
    padding: 40px 0px;
    text-align: center;
  }
  .title h3 {
    font: normal normal bold 50px/61px Montserrat;
  }
  .text {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .text p {
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin-top: 20px;
    width: 80%;
  }
  .logos-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
  }

  @media screen and (max-width: 1500px) {
    .second-section {
      height: 500px;
    }
  }

  @media screen and (max-width: 1000px) {
    .second-section {
      height: 600px;
    }
  }

  @media screen and (max-width: 800px) {
    .second-section {
      height: 100vh;
    }
    .title h3 {
      font-size: 40px;
    }
    .text p {
      font-size: 25px;
      width: 95%;
    }
    .logos-section {
      padding: 0px 20px;
    }
  }
</style>
