<div class="footer-container">
    <div class="icon-container">
        <p>ICOL<br>MUEBLES</p>
    </div>
    <div class="copyright-container">
        <p>Copyright 2024 . Icol Muebles . Mueblería de alta calidad</p>
    </div>
    <div class="contact-container">
        <p>TEL. 300 XXXX XXXX</p>
        <p>EMAIL. Carrera XX N XX XX</p>
        <div class="redes">
            <p>Facebook</p>
            <p>Instagram</p>
        </div>
    </div>
</div>

<style>
    .footer-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 180px;
        background-color: #3A3A3A;
    }
    .icon-container p {
        color: var(--white-own);
        font: normal normal 800 50px Montserrat;
        padding-top: 20px;
        margin: 0px;
    }
    .copyright-container {
        display: flex;
        color: #919191;
        align-items: flex-end;
        font: normal normal medium 15px/19px Montserrat;
    }
    .contact-container {
        display: grid;
        align-items: center;
        flex-direction: column;
        color: var(--white-own);
        font: normal normal medium 15px/19px Montserrat;
    }
    .redes {
        display: flex;
    }
</style>