<div class="footer-container">
  <div class="icon-container section">
    <p>ICOL<br />MUEBLES</p>
  </div>
  <div class="nav-links-container section">
    <ul class="nav-links" id="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </div>
  <div class="contact-container section">
    <p>TEL. 300 XXXX XXXX</p>
    <p>EMAIL. Carrera XX N XX XX</p>
    <div class="redes">
      <a href="https://www.facebook.com/icolmuebles/?locale=es_LA">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
        >
          <path
            id="icons8-facebook-nuevo"
            d="M41,4H9A5,5,0,0,0,4,9V41a5,5,0,0,0,5,5H41a5,5,0,0,0,5-5V9A5,5,0,0,0,41,4ZM37,19H35c-2.14,0-3,.5-3,2v3h5l-1,5H32V44H27V29H23V24h4V21c0-4,2-7,6-7,2.9,0,4,1,4,1Z"
            transform="translate(-4 -4)"
            fill="#f7f7f7"></path>
        </svg>
      </a>
      <a href="https://www.instagram.com">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
        >
          <path
            id="icons8-instagram"
            d="M15.409,3A12.421,12.421,0,0,0,3,15.409V32.591A12.421,12.421,0,0,0,15.409,45H32.591A12.421,12.421,0,0,0,45,32.591V15.409A12.421,12.421,0,0,0,32.591,3Zm20.045,7.636a1.909,1.909,0,1,1-1.909,1.909A1.915,1.915,0,0,1,35.455,10.636ZM24,13.5A10.5,10.5,0,1,1,13.5,24,10.506,10.506,0,0,1,24,13.5Zm0,1.909A8.591,8.591,0,1,0,32.591,24,8.6,8.6,0,0,0,24,15.409Z"
            transform="translate(-3 -3)"
            fill="#f7f7f7"></path>
        </svg>
      </a>
    </div>
    <div class="copyright-container">
      <p>Copyright 2024 . Icol Muebles . Mueblería de alta calidad</p>
    </div>
  </div>
</div>

<style>
  .footer-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 180px;
    background-color: #3a3a3a;
  }
  .icon-container p {
    display: flex;
    justify-content: center;
    color: var(--white-own);
    font: normal normal 800 50px Montserrat;
    padding-top: 20px;
    margin: 0px;
  }
  .section {
    width: 33%;
  }
  .nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .nav-links-container ul {
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 100%;
    text-align: center;
    list-style: none;
  }
  .nav-links-container li {
    padding: 6px 0px;
  }
  .nav-links-container a {
    font-size: 20px;
    text-decoration: none;
    color: var(--white-own);
  }
  .copyright-container {
    color: #919191;
    align-items: flex-end;
    font: normal normal medium 15px/19px Montserrat;
  }
  .contact-container {
    display: grid;
    align-items: center;
    flex-direction: column;
    color: var(--white-own);
    font: normal normal medium 15px/19px Montserrat;
  }
  .redes {
    display: flex;
  }
  .redes svg {
    width: 35px;
    margin-right: 10px;
  }
  @media screen and (max-width: 850px) {
    .footer-container {
      flex-wrap: wrap;
      height: fit-content;
      padding: 30px 0px;
    }
    .section {
      width: 100%;
    }
    .contact-container {
      display: flex;
      margin-top: 20px;
    }
    .contact-container p {
      margin: 10px 0px;
    }
  }
</style>
