<nav>
  <div class="nav-bar-content">
    <div class="ico">
      <p>ICOL<br />MUEBLES</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </div>
</nav>

<script>
  const navContainer = document.querySelector("nav");
  if (navContainer !== null) {
    const currentURL = window.location.href;
    if (currentURL.includes("contacto")) {
      navContainer.classList.add("hidden");
    }
  }

  const nav = document.querySelector(".nav-bar-content");
  if (nav !== null) {
    const navLinks = nav.querySelectorAll("a");
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
      if (link.href === currentURL) {
        link.classList.add("active-btn-nav");
      }
    });
  }
</script>

<style>
  nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 300px;
    background: #ffffff5c 0% 0% no-repeat padding-box;
    z-index: 1;
    opacity: 1;
  }
  .hidden {
    display: none;
  }
  .nav-bar-content {
    height: 80%;
    width: 80%;
  }
  .ico {
    font-family: "Montserrat", sans-serif;
    font: normal normal 800 20px Montserrat;
  }
  ul,
  a {
    list-style: none;
    text-decoration: none;
    color: var(--black-own);
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    padding: 0px;
  }
  li {
    margin: 10px 0;
  }
  li a.active-btn-nav {
    color: var(--brown-own);
  }
  li a:hover {
    color: var(--yellow-own);
    transition: 0.4s;
  }
</style>
