---
import CarouselElement from "./CarouselElement.astro";
let images = [
	'../../public/carousel/1.svg',
	'../../public/carousel/2.svg',
	'../../public/carousel/3.svg',
	'../../public/carousel/4.svg',
	'../../public/carousel/5.svg',
	'../../public/carousel/6.svg',
]
---

<div class="carousel-container">
    {images.map((image) => (
        <CarouselElement imgName={image}/>
    ))}
</div>

<style>
    .carousel-container {
        display: flex;
    }
</style>