---
import CarouselElement from "./CarouselElement.astro";
let images = [
  "/carousel/1.svg",
  "/carousel/2.svg",
  "/carousel/3.svg",
  "/carousel/4.svg",
  "/carousel/5.svg",
  "/carousel/6.svg",
];
---

<div class="carousel-container">
  {images.map((image) => <CarouselElement imgName={image} />)}
</div>

<style>
  .carousel-container {
    display: flex;
  }
</style>
