---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content="Icolmuebles - Mueblería de alta cálidad." />
    <meta
      name="keywords"
      content="Muebles, madera, empresas, apartamento, diseño interiores, constructoras"
    />
    <meta
      name="description"
      content="Icolmuebles ofrece muebles en madera de alta calidad para tu empresa o apartamento. Diseñamos interiores y proyectos en madera. Muebles para empresas. Muebles para apartamentos."
    />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="w6pcRj0Sj5aFNdNqmDoLPFYn2GGa9ftpLp9k0paC9qk"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
    <ViewTransitions />
    <a href="https://wa.link/xmdmhe">
      <div class="contact">
        <p>Cotizar</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="100px"
          height="100px"
        >
          <path
            d="M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z"
          ></path></svg
        >
      </div>
    </a>
  </body>
  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
      --black-own: #000;
      --brown-own: #854836;
      --yellow-own: #f5b553;
      --white-own: #f7f7f7;
    }
    ::-webkit-scrollbar {
      display: none;
    }
    * {
      margin: 0;
      padding: 0;
    }
    html {
      font-family: "Quicksand", sans-serif;
      background: #fff;
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      margin: 0px;
      display: flex;
    }
    .contact {
      position: fixed;
      bottom: 20px;
      right: 30px;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #02bf7a;
      border: 3px solid #02bf7a;
      border-radius: 40px;
      width: 250px;
      height: 48px;
      box-shadow: 0px 3px 6px #00000029;
    }
    .contact p {
      color: var(--white-own);
      font-size: 25px;
      font-weight: 500;
      margin-right: 10px;
    }
    .contact svg {
      width: 30px;
      height: 30px;
      fill: var(--white-own);
    }

    .contact:hover {
      background: #ffffff62;
      border: 3px solid #02bf7a;
      transition: 0.8s;
    }
    .contact:hover p {
      color: #02bf7a;
      transition: 0.8s;
    }
    .contact:hover svg {
      fill: #02bf7a;
      transition: 0.8s;
    }
  </style>
</html>
