---
type dataImg = {
  src: string;
};

export interface Props {
  data: Array<string>;
}

const { data } = Astro.props;
---

<div class="scroll" style="--t:30s">
  <div class="scroll-content">
    {
      data.map((src) => (
        <div class="img-container-scroll">
          <img src={src} alt="" />
        </div>
      ))
    }
  </div>
</div>

<style>
  .scroll {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .scroll .scroll-content {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
  }
  @keyframes animate {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .scroll .scroll-content .img-container-scroll {
    display: inline-flex;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
  }
  .img-container-scroll {
    height: 90%;
  }

  @media screen and (max-width: 850px) {
    .img-container-scroll {
      height: 600px;
    }
  }
</style>
