---
import imgComercial1 from "/public/portafolio/residencial/casas-chia/1.jpg";
import imgComercial2 from "/public/portafolio/residencial/modigliani/1.jpg";
import imgComercial3 from "/public/portafolio/residencial/sausalito/1.jpg";
import imgComercial4 from "/public/portafolio/residencial/subachoque/1.jpg";
---

<div class="main-container">
  <a href="/portafolio/casas-chia">
    <img src={imgComercial1.src} alt="a" loading="lazy" />
  </a>
  <a href="/portafolio/modigliani">
    <img src={imgComercial2.src} alt="a" loading="lazy" />
  </a>
  <a href="/portafolio/sausalito">
    <img src={imgComercial3.src} alt="a" loading="lazy" />
  </a>
  <a href="/portafolio/subachoque">
    <img src={imgComercial4.src} alt="a" loading="lazy" />
  </a>
</div>

<style>
  img {
    width: 400px;
  }
</style>
