---
import imageAndalucia from "/public/portafolio/comercial/andalucia/1.avif";
import imageArrayan from "/public/portafolio/comercial/arrayan/1.avif";
import imageBalcony from "/public/portafolio/comercial/balcony/1.avif";
import imageCardio from "/public/portafolio/comercial/cardiovascular/1.avif";
import cumbrera from "/public/portafolio/comercial/cumbrera/1.avif";
import multiplaza from "/public/portafolio/comercial/multiplaza/1.avif";
import naviera from "/public/portafolio/comercial/naviera/1.avif";
import sakai from "/public/portafolio/comercial/sakai/1.avif";
import vitrum from "/public/portafolio/comercial/vitrum/1.avif";

const ComercialData = [
  {
    imageCard: cumbrera.src,
    url: "/portafolio/cumbrera",
    title: "Colpatria Galias Cumbrera",
    text: "Bogotá - Barranquilla - Ibague - Madrid - Cali",
  },
  {
    imageCard: vitrum.src,
    url: "/portafolio/vitrum",
    title: "Vitrum Constructora Icono Urbano",
    text: "Cl. 93 #5-50, Bogotá",
  },
  {
    imageCard: multiplaza.src,
    url: "/portafolio/multiplaza",
    title: "Carpimaderas LTDA C.C. Multiplaza",
    text: "C.C. Multiplaza Cl 19A #72-57",
  },
  {
    imageCard: imageCardio.src,
    url: "/portafolio/hospital-cardiovascular",
    title: "Hospital CardioVascular",
    text: "Carrera 1ra Este #31 - 58, Cra. 4 Este, Soacha,",
  },
  {
    imageCard: imageAndalucia.src,
    url: "/portafolio/andalucia",
    title: "Proyecto Promotora Andalucía",
    text: "Cl. 11 #1-60, Bogotá",
  },
  {
    imageCard: sakai.src,
    url: "/portafolio/sakai",
    title: "Proyecto Sakai Constructora Kyoto",
    text: "Carrera 14 A 118 – 81",
  },
  {
    imageCard: imageBalcony.src,
    url: "/portafolio/balcony",
    title: "Balcony 103 Constructora Hitos Urbanos",
    text: "Dirección Calle 103a#47a-14",
  },
  {
    imageCard: imageArrayan.src,
    url: "/portafolio/bosque-de-arrayan",
    title: "Bosque de Arrayan Constructora Oikos",
    text: "Verganzo, Tocancipa, Cundinamarca",
  },
  {
    imageCard: naviera.src,
    url: "/portafolio/naviera",
    title: "Oficina Naviera",
    text: "Dg. 182 #20-91, Bogotá",
  },
];
---

<div class="main-container">
  {
    ComercialData.map((item) => (
      <div class="card-container">
        <a href={item.url}>
          <img src={item.imageCard} alt="a" loading="lazy" />
        </a>
        <p class="title">{item.title}</p>
        <p class="text">{item.text}</p>
      </div>
    ))
  }
</div>

<style>
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 40px 0px;
  }
  .card-container {
    width: 33%;
    margin-bottom: 30px;
  }
  .card-container img {
    padding: 0px 30px;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .card-container img {
    padding: 0px 30px;
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .card-container img:hover {
    opacity: 0.8;
    transition: 0.6s;
  }
  .card-container:hover .title {
    transition: 0.6s;
    color: var(--yellow-own);
  }
  .card-container:hover .text {
    transition: 0.6s;
    color: var(--yellow-own);
  }
  .title {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    padding: 0px 30px;
  }
  .text {
    font-size: 20px;
    color: #000000b3;
    padding: 0px 30px;
  }

  @media screen and (max-width: 850px) {
    .card-container {
      width: 100%;
      margin-bottom: 50px;
    }
  }
</style>
