---
import ProyectItem from "./ProyectCard.astro";

type dataImg = {
  imageCard: any;
  title: string;
  text: string;
  cost: string;
};

export interface Props {
  data: Array<dataImg>;
}

const { data } = Astro.props;
---

<div class="main-container">
  {
    data.map((item) => (
      <ProyectItem
        imageCard={item.imageCard}
        title={item.title}
        text={item.text}
        cost={item.cost}
      />
    ))
  }
</div>

<style>
  .main-container {
    columns: 3 250px;
    column-gap: 10px;
    width: 90%;
    margin: 50px 0px;
  }
</style>
