---
import ProyectItem from "./ProyectCard.astro";

type dataImg = {
  url: string;
  title: string;
  text: string;
};

export interface Props {
  data: Array<dataImg>;
}

const { data } = Astro.props;
---

<div class="main-container">
  {
    data.map((item) => (
      <ProyectItem url={item.url} title={item.title} text={item.text} />
    ))
  }
</div>

<style>
  .main-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    width: 100%;
    margin-top: 30px;
  }
</style>
