---
export interface Props {
  imageCard: any;
  title: string;
  text: string;
}

const { imageCard, title, text } = Astro.props;
---

<div class="card-container">
  <!-- <Image src={imageCard} alt="a" format="avif" /> -->
  <img src={imageCard} alt="" loading="lazy">
  <p class="title">{title}</p>
  <p class="text">{text}</p>
</div>

<style>
  .card-container {
    display: grid;
    align-items: center;
    break-inside: avoid;
    margin-bottom: 30px;
    width: 90%;
  }
  .card-container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .card-container p {
    margin: 0px;
  }
  .title {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
  }
  .text {
    font-size: 30px;
    color: #000000b3;
  }
</style>
